@page
@model RazorPages_CombineLists.Pages.Cars.IndexModel
@{
}

<h1>Index</h1>
<h3>Cars</h3>

<p><a asp-page="Create">Create new car</a></p>

<table class="table">
    <thead>
        <tr>

            <th>Id</th>
            <th>Owner's Name</th>
            <th>Brand</th>
            <th>Engine Id</th>
            <th>Distance (KM)</th>
        </tr>
    </thead>
    <tbody>
        @foreach (Models.Car car in Model.dbinjection.getAllCars())
        {
            <tr>
                <td>@car.Id</td>
                <td>@car.OwnerName</td>
                <td>@car.Brand</td>
                <td>@car.Engine.Id</td>
                <td>@car.Engine.DistanceKørtKm</td>
            </tr>
        }
    </tbody>
</table>